AuthUserFile /home/ubuntu/workspace/.htpasswd
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
<Files ~ "\.(log)$">
  deny from all
</Files>